region                      = "il-jerusalem-1"
vcn_display_name            = "vcn-20230527-1933"
subnet_display_name         = "subnet-20230527-1933"
availability_domain_number  = 1
fault_domain                = "FAULT-DOMAIN-3"

instances = 4
ocpus     = 1
memory_gb = 6

ubuntu_image_display_name = "Canonical-Ubuntu-24.04-Minimal-aarch64-2025.05.20-0"
